@keyframes divRotation {
  from {transform: rotate(360deg)}
  to {transform: rotate(0deg)}
}
@keyframes colorShift {
  from {filter: hue-rotate(0deg)}
  to {filter: hue-rotate(-360deg)}
}
#description {
  line-height: 1.6;
  width: 60%;
  margin: auto;
  margin-top: 1em;
  padding: 0.25em;
}
#container {
  position: relative;
  margin: 1.5em auto;
  width: 60%;
  height: calc(0.4*90vw);
  min-height: calc(0.4*600px);
  max-height: calc(0.4*1400px);
  background-color: #888;
  border-radius: 4px;
  overflow: hidden;
}
#overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 4px outset #556;
  box-shadow: 0 0 3px 20px rgba(0,0, 10,0.5) inset,
              0 0 2px 5px rgba(0,0, 10,0.25) inset;
}
#blackBox {
  position: absolute;
  left: 0;
  top: 0;
  width: 80%;
  height: 50%;
  background-color: #111;
  box-shadow: 0 0 10px 2px rgb(255,255,255);
}
#whiteBox {
  position: absolute;
  width: 80%;
  height: 50%;
  right: 0;
  top: 50%;
  background-color: #efefef;
  box-shadow: 0 0 10px 2px rgb(0,0,0);
}
#darklight {
  position: absolute;
  left: 10%;
  top: 15%;
  height: 70%;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

/*from sass*/
.darken.d_0 {
  position: absolute;
  border-radius: 50%;
  width: 1%;
  height: 1%;
  background-color: #fffdfd;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(255, 255, 255, 0.7)));
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.7), rgba(255, 255, 255, 0.7));
  -webkit-animation: divRotation 8s linear infinite, colorShift 32s linear infinite;
          animation: divRotation 8s linear infinite, colorShift 32s linear infinite;
}

.darken.d_1 {
  position: absolute;
  border-radius: 50%;
  width: 2.98%;
  height: 2.98%;
  background-color: #fff9f8;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(255, 255, 255, 0.7)));
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.7), rgba(255, 255, 255, 0.7));
  -webkit-animation: divRotation 8.1s linear infinite, colorShift 32.4s linear infinite;
          animation: divRotation 8.1s linear infinite, colorShift 32.4s linear infinite;
}

.darken.d_2 {
  position: absolute;
  border-radius: 50%;
  width: 4.96%;
  height: 4.96%;
  background-color: #fff6f3;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(255, 255, 255, 0.7)));
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.7), rgba(255, 255, 255, 0.7));
  -webkit-animation: divRotation 8.2s linear infinite, colorShift 32.8s linear infinite;
          animation: divRotation 8.2s linear infinite, colorShift 32.8s linear infinite;
}

.darken.d_3 {
  position: absolute;
  border-radius: 50%;
  width: 6.94%;
  height: 6.94%;
  background-color: #fff4ee;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(255, 255, 255, 0.7)));
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.7), rgba(255, 255, 255, 0.7));
  -webkit-animation: divRotation 8.3s linear infinite, colorShift 33.2s linear infinite;
          animation: divRotation 8.3s linear infinite, colorShift 33.2s linear infinite;
}

.darken.d_4 {
  position: absolute;
  border-radius: 50%;
  width: 8.92%;
  height: 8.92%;
  background-color: #fff3e9;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(255, 255, 255, 0.7)));
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.7), rgba(255, 255, 255, 0.7));
  -webkit-animation: divRotation 8.4s linear infinite, colorShift 33.6s linear infinite;
          animation: divRotation 8.4s linear infinite, colorShift 33.6s linear infinite;
}

.darken.d_5 {
  position: absolute;
  border-radius: 50%;
  width: 10.9%;
  height: 10.9%;
  background-color: #fff4e4;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(255, 255, 255, 0.7)));
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.7), rgba(255, 255, 255, 0.7));
  -webkit-animation: divRotation 8.5s linear infinite, colorShift 34s linear infinite;
          animation: divRotation 8.5s linear infinite, colorShift 34s linear infinite;
}

.darken.d_6 {
  position: absolute;
  border-radius: 50%;
  width: 12.88%;
  height: 12.88%;
  background-color: #fff6df;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(255, 255, 255, 0.7)));
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.7), rgba(255, 255, 255, 0.7));
  -webkit-animation: divRotation 8.6s linear infinite, colorShift 34.4s linear infinite;
          animation: divRotation 8.6s linear infinite, colorShift 34.4s linear infinite;
}

.darken.d_7 {
  position: absolute;
  border-radius: 50%;
  width: 14.86%;
  height: 14.86%;
  background-color: #fff9da;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(255, 255, 255, 0.7)));
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.7), rgba(255, 255, 255, 0.7));
  -webkit-animation: divRotation 8.7s linear infinite, colorShift 34.8s linear infinite;
          animation: divRotation 8.7s linear infinite, colorShift 34.8s linear infinite;
}

.darken.d_8 {
  position: absolute;
  border-radius: 50%;
  width: 16.84%;
  height: 16.84%;
  background-color: #fffdd5;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(255, 255, 255, 0.7)));
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.7), rgba(255, 255, 255, 0.7));
  -webkit-animation: divRotation 8.8s linear infinite, colorShift 35.2s linear infinite;
          animation: divRotation 8.8s linear infinite, colorShift 35.2s linear infinite;
}

.darken.d_9 {
  position: absolute;
  border-radius: 50%;
  width: 18.82%;
  height: 18.82%;
  background-color: #fbffd0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(255, 255, 255, 0.7)));
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.7), rgba(255, 255, 255, 0.7));
  -webkit-animation: divRotation 8.9s linear infinite, colorShift 35.6s linear infinite;
          animation: divRotation 8.9s linear infinite, colorShift 35.6s linear infinite;
}

.darken.d_10 {
  position: absolute;
  border-radius: 50%;
  width: 20.8%;
  height: 20.8%;
  background-color: #f5ffcb;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(255, 255, 255, 0.7)));
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.7), rgba(255, 255, 255, 0.7));
  -webkit-animation: divRotation 9s linear infinite, colorShift 36s linear infinite;
          animation: divRotation 9s linear infinite, colorShift 36s linear infinite;
}

.darken.d_11 {
  position: absolute;
  border-radius: 50%;
  width: 22.78%;
  height: 22.78%;
  background-color: #edffc5;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(255, 255, 255, 0.7)));
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.7), rgba(255, 255, 255, 0.7));
  -webkit-animation: divRotation 9.1s linear infinite, colorShift 36.4s linear infinite;
          animation: divRotation 9.1s linear infinite, colorShift 36.4s linear infinite;
}

.darken.d_12 {
  position: absolute;
  border-radius: 50%;
  width: 24.76%;
  height: 24.76%;
  background-color: #e3ffc0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(255, 255, 255, 0.7)));
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.7), rgba(255, 255, 255, 0.7));
  -webkit-animation: divRotation 9.2s linear infinite, colorShift 36.8s linear infinite;
          animation: divRotation 9.2s linear infinite, colorShift 36.8s linear infinite;
}

.darken.d_13 {
  position: absolute;
  border-radius: 50%;
  width: 26.74%;
  height: 26.74%;
  background-color: #d9ffbb;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(255, 255, 255, 0.7)));
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.7), rgba(255, 255, 255, 0.7));
  -webkit-animation: divRotation 9.3s linear infinite, colorShift 37.2s linear infinite;
          animation: divRotation 9.3s linear infinite, colorShift 37.2s linear infinite;
}

.darken.d_14 {
  position: absolute;
  border-radius: 50%;
  width: 28.72%;
  height: 28.72%;
  background-color: #ceffb6;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(255, 255, 255, 0.7)));
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.7), rgba(255, 255, 255, 0.7));
  -webkit-animation: divRotation 9.4s linear infinite, colorShift 37.6s linear infinite;
          animation: divRotation 9.4s linear infinite, colorShift 37.6s linear infinite;
}

.darken.d_15 {
  position: absolute;
  border-radius: 50%;
  width: 30.7%;
  height: 30.7%;
  background-color: #c1ffb1;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(255, 255, 255, 0.7)));
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.7), rgba(255, 255, 255, 0.7));
  -webkit-animation: divRotation 9.5s linear infinite, colorShift 38s linear infinite;
          animation: divRotation 9.5s linear infinite, colorShift 38s linear infinite;
}

.darken.d_16 {
  position: absolute;
  border-radius: 50%;
  width: 32.68%;
  height: 32.68%;
  background-color: #b3ffac;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(255, 255, 255, 0.7)));
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.7), rgba(255, 255, 255, 0.7));
  -webkit-animation: divRotation 9.6s linear infinite, colorShift 38.4s linear infinite;
          animation: divRotation 9.6s linear infinite, colorShift 38.4s linear infinite;
}

.darken.d_17 {
  position: absolute;
  border-radius: 50%;
  width: 34.66%;
  height: 34.66%;
  background-color: #a7ffab;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(255, 255, 255, 0.7)));
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.7), rgba(255, 255, 255, 0.7));
  -webkit-animation: divRotation 9.7s linear infinite, colorShift 38.8s linear infinite;
          animation: divRotation 9.7s linear infinite, colorShift 38.8s linear infinite;
}

.darken.d_18 {
  position: absolute;
  border-radius: 50%;
  width: 36.64%;
  height: 36.64%;
  background-color: #a2ffb1;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(255, 255, 255, 0.7)));
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.7), rgba(255, 255, 255, 0.7));
  -webkit-animation: divRotation 9.8s linear infinite, colorShift 39.2s linear infinite;
          animation: divRotation 9.8s linear infinite, colorShift 39.2s linear infinite;
}

.darken.d_19 {
  position: absolute;
  border-radius: 50%;
  width: 38.62%;
  height: 38.62%;
  background-color: #9dffb8;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(255, 255, 255, 0.7)));
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.7), rgba(255, 255, 255, 0.7));
  -webkit-animation: divRotation 9.9s linear infinite, colorShift 39.6s linear infinite;
          animation: divRotation 9.9s linear infinite, colorShift 39.6s linear infinite;
}

.darken.d_20 {
  position: absolute;
  border-radius: 50%;
  width: 40.6%;
  height: 40.6%;
  background-color: #98ffc1;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(255, 255, 255, 0.7)));
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.7), rgba(255, 255, 255, 0.7));
  -webkit-animation: divRotation 10s linear infinite, colorShift 40s linear infinite;
          animation: divRotation 10s linear infinite, colorShift 40s linear infinite;
}

.darken.d_21 {
  position: absolute;
  border-radius: 50%;
  width: 42.58%;
  height: 42.58%;
  background-color: #93ffcb;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(255, 255, 255, 0.7)));
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.7), rgba(255, 255, 255, 0.7));
  -webkit-animation: divRotation 10.1s linear infinite, colorShift 40.4s linear infinite;
          animation: divRotation 10.1s linear infinite, colorShift 40.4s linear infinite;
}

.darken.d_22 {
  position: absolute;
  border-radius: 50%;
  width: 44.56%;
  height: 44.56%;
  background-color: #8effd6;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(255, 255, 255, 0.7)));
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.7), rgba(255, 255, 255, 0.7));
  -webkit-animation: divRotation 10.2s linear infinite, colorShift 40.8s linear infinite;
          animation: divRotation 10.2s linear infinite, colorShift 40.8s linear infinite;
}

.darken.d_23 {
  position: absolute;
  border-radius: 50%;
  width: 46.54%;
  height: 46.54%;
  background-color: #89ffe3;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(255, 255, 255, 0.7)));
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.7), rgba(255, 255, 255, 0.7));
  -webkit-animation: divRotation 10.3s linear infinite, colorShift 41.2s linear infinite;
          animation: divRotation 10.3s linear infinite, colorShift 41.2s linear infinite;
}

.darken.d_24 {
  position: absolute;
  border-radius: 50%;
  width: 48.52%;
  height: 48.52%;
  background-color: #84fff0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(255, 255, 255, 0.7)));
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.7), rgba(255, 255, 255, 0.7));
  -webkit-animation: divRotation 10.4s linear infinite, colorShift 41.6s linear infinite;
          animation: divRotation 10.4s linear infinite, colorShift 41.6s linear infinite;
}

.darken.d_25 {
  position: absolute;
  border-radius: 50%;
  width: 50.5%;
  height: 50.5%;
  background-color: #7fffff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(255, 255, 255, 0.7)));
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.7), rgba(255, 255, 255, 0.7));
  -webkit-animation: divRotation 10.5s linear infinite, colorShift 42s linear infinite;
          animation: divRotation 10.5s linear infinite, colorShift 42s linear infinite;
}

.darken.d_26 {
  position: absolute;
  border-radius: 50%;
  width: 52.48%;
  height: 52.48%;
  background-color: #7aefff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(255, 255, 255, 0.7)));
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.7), rgba(255, 255, 255, 0.7));
  -webkit-animation: divRotation 10.6s linear infinite, colorShift 42.4s linear infinite;
          animation: divRotation 10.6s linear infinite, colorShift 42.4s linear infinite;
}

.darken.d_27 {
  position: absolute;
  border-radius: 50%;
  width: 54.46%;
  height: 54.46%;
  background-color: #75deff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(255, 255, 255, 0.7)));
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.7), rgba(255, 255, 255, 0.7));
  -webkit-animation: divRotation 10.7s linear infinite, colorShift 42.8s linear infinite;
          animation: divRotation 10.7s linear infinite, colorShift 42.8s linear infinite;
}

.darken.d_28 {
  position: absolute;
  border-radius: 50%;
  width: 56.44%;
  height: 56.44%;
  background-color: #70cbff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(255, 255, 255, 0.7)));
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.7), rgba(255, 255, 255, 0.7));
  -webkit-animation: divRotation 10.8s linear infinite, colorShift 43.2s linear infinite;
          animation: divRotation 10.8s linear infinite, colorShift 43.2s linear infinite;
}

.darken.d_29 {
  position: absolute;
  border-radius: 50%;
  width: 58.42%;
  height: 58.42%;
  background-color: #6bb8ff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(255, 255, 255, 0.7)));
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.7), rgba(255, 255, 255, 0.7));
  -webkit-animation: divRotation 10.9s linear infinite, colorShift 43.6s linear infinite;
          animation: divRotation 10.9s linear infinite, colorShift 43.6s linear infinite;
}

.darken.d_30 {
  position: absolute;
  border-radius: 50%;
  width: 60.4%;
  height: 60.4%;
  background-color: #66a3ff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(255, 255, 255, 0.7)));
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.7), rgba(255, 255, 255, 0.7));
  -webkit-animation: divRotation 11s linear infinite, colorShift 44s linear infinite;
          animation: divRotation 11s linear infinite, colorShift 44s linear infinite;
}

.darken.d_31 {
  position: absolute;
  border-radius: 50%;
  width: 62.38%;
  height: 62.38%;
  background-color: #608dff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(255, 255, 255, 0.7)));
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.7), rgba(255, 255, 255, 0.7));
  -webkit-animation: divRotation 11.1s linear infinite, colorShift 44.4s linear infinite;
          animation: divRotation 11.1s linear infinite, colorShift 44.4s linear infinite;
}

.darken.d_32 {
  position: absolute;
  border-radius: 50%;
  width: 64.36%;
  height: 64.36%;
  background-color: #5b76ff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(255, 255, 255, 0.7)));
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.7), rgba(255, 255, 255, 0.7));
  -webkit-animation: divRotation 11.2s linear infinite, colorShift 44.8s linear infinite;
          animation: divRotation 11.2s linear infinite, colorShift 44.8s linear infinite;
}

.darken.d_33 {
  position: absolute;
  border-radius: 50%;
  width: 66.34%;
  height: 66.34%;
  background-color: #565dff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(255, 255, 255, 0.7)));
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.7), rgba(255, 255, 255, 0.7));
  -webkit-animation: divRotation 11.3s linear infinite, colorShift 45.2s linear infinite;
          animation: divRotation 11.3s linear infinite, colorShift 45.2s linear infinite;
}

.darken.d_34 {
  position: absolute;
  border-radius: 50%;
  width: 68.32%;
  height: 68.32%;
  background-color: #5f51ff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(255, 255, 255, 0.7)));
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.7), rgba(255, 255, 255, 0.7));
  -webkit-animation: divRotation 11.4s linear infinite, colorShift 45.6s linear infinite;
          animation: divRotation 11.4s linear infinite, colorShift 45.6s linear infinite;
}

.darken.d_35 {
  position: absolute;
  border-radius: 50%;
  width: 70.3%;
  height: 70.3%;
  background-color: #704cff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(255, 255, 255, 0.7)));
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.7), rgba(255, 255, 255, 0.7));
  -webkit-animation: divRotation 11.5s linear infinite, colorShift 46s linear infinite;
          animation: divRotation 11.5s linear infinite, colorShift 46s linear infinite;
}

.darken.d_36 {
  position: absolute;
  border-radius: 50%;
  width: 72.28%;
  height: 72.28%;
  background-color: #8247ff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(255, 255, 255, 0.7)));
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.7), rgba(255, 255, 255, 0.7));
  -webkit-animation: divRotation 11.6s linear infinite, colorShift 46.4s linear infinite;
          animation: divRotation 11.6s linear infinite, colorShift 46.4s linear infinite;
}

.darken.d_37 {
  position: absolute;
  border-radius: 50%;
  width: 74.26%;
  height: 74.26%;
  background-color: #9542ff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(255, 255, 255, 0.7)));
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.7), rgba(255, 255, 255, 0.7));
  -webkit-animation: divRotation 11.7s linear infinite, colorShift 46.8s linear infinite;
          animation: divRotation 11.7s linear infinite, colorShift 46.8s linear infinite;
}

.darken.d_38 {
  position: absolute;
  border-radius: 50%;
  width: 76.24%;
  height: 76.24%;
  background-color: #aa3dff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(255, 255, 255, 0.7)));
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.7), rgba(255, 255, 255, 0.7));
  -webkit-animation: divRotation 11.8s linear infinite, colorShift 47.2s linear infinite;
          animation: divRotation 11.8s linear infinite, colorShift 47.2s linear infinite;
}

.darken.d_39 {
  position: absolute;
  border-radius: 50%;
  width: 78.22%;
  height: 78.22%;
  background-color: #bf38ff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(255, 255, 255, 0.7)));
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.7), rgba(255, 255, 255, 0.7));
  -webkit-animation: divRotation 11.9s linear infinite, colorShift 47.6s linear infinite;
          animation: divRotation 11.9s linear infinite, colorShift 47.6s linear infinite;
}

.darken.d_40 {
  position: absolute;
  border-radius: 50%;
  width: 80.2%;
  height: 80.2%;
  background-color: #d633ff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(255, 255, 255, 0.7)));
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.7), rgba(255, 255, 255, 0.7));
  -webkit-animation: divRotation 12s linear infinite, colorShift 48s linear infinite;
          animation: divRotation 12s linear infinite, colorShift 48s linear infinite;
}

.darken.d_41 {
  position: absolute;
  border-radius: 50%;
  width: 82.18%;
  height: 82.18%;
  background-color: #ee2eff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(255, 255, 255, 0.7)));
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.7), rgba(255, 255, 255, 0.7));
  -webkit-animation: divRotation 12.1s linear infinite, colorShift 48.4s linear infinite;
          animation: divRotation 12.1s linear infinite, colorShift 48.4s linear infinite;
}

.darken.d_42 {
  position: absolute;
  border-radius: 50%;
  width: 84.16%;
  height: 84.16%;
  background-color: #ff29f6;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(255, 255, 255, 0.7)));
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.7), rgba(255, 255, 255, 0.7));
  -webkit-animation: divRotation 12.2s linear infinite, colorShift 48.8s linear infinite;
          animation: divRotation 12.2s linear infinite, colorShift 48.8s linear infinite;
}

.darken.d_43 {
  position: absolute;
  border-radius: 50%;
  width: 86.14%;
  height: 86.14%;
  background-color: #ff24dc;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(255, 255, 255, 0.7)));
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.7), rgba(255, 255, 255, 0.7));
  -webkit-animation: divRotation 12.3s linear infinite, colorShift 49.2s linear infinite;
          animation: divRotation 12.3s linear infinite, colorShift 49.2s linear infinite;
}

.darken.d_44 {
  position: absolute;
  border-radius: 50%;
  width: 88.12%;
  height: 88.12%;
  background-color: #ff1fc0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(255, 255, 255, 0.7)));
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.7), rgba(255, 255, 255, 0.7));
  -webkit-animation: divRotation 12.4s linear infinite, colorShift 49.6s linear infinite;
          animation: divRotation 12.4s linear infinite, colorShift 49.6s linear infinite;
}

.darken.d_45 {
  position: absolute;
  border-radius: 50%;
  width: 90.1%;
  height: 90.1%;
  background-color: #ff1aa3;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(255, 255, 255, 0.7)));
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.7), rgba(255, 255, 255, 0.7));
  -webkit-animation: divRotation 12.5s linear infinite, colorShift 50s linear infinite;
          animation: divRotation 12.5s linear infinite, colorShift 50s linear infinite;
}

.darken.d_46 {
  position: absolute;
  border-radius: 50%;
  width: 92.08%;
  height: 92.08%;
  background-color: #ff1585;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(255, 255, 255, 0.7)));
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.7), rgba(255, 255, 255, 0.7));
  -webkit-animation: divRotation 12.6s linear infinite, colorShift 50.4s linear infinite;
          animation: divRotation 12.6s linear infinite, colorShift 50.4s linear infinite;
}

.darken.d_47 {
  position: absolute;
  border-radius: 50%;
  width: 94.06%;
  height: 94.06%;
  background-color: #ff1066;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(255, 255, 255, 0.7)));
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.7), rgba(255, 255, 255, 0.7));
  -webkit-animation: divRotation 12.7s linear infinite, colorShift 50.8s linear infinite;
          animation: divRotation 12.7s linear infinite, colorShift 50.8s linear infinite;
}

.darken.d_48 {
  position: absolute;
  border-radius: 50%;
  width: 96.04%;
  height: 96.04%;
  background-color: #ff0b45;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(255, 255, 255, 0.7)));
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.7), rgba(255, 255, 255, 0.7));
  -webkit-animation: divRotation 12.8s linear infinite, colorShift 51.2s linear infinite;
          animation: divRotation 12.8s linear infinite, colorShift 51.2s linear infinite;
}

.darken.d_49 {
  position: absolute;
  border-radius: 50%;
  width: 98.02%;
  height: 98.02%;
  background-color: #ff0624;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(255, 255, 255, 0.7)));
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.7), rgba(255, 255, 255, 0.7));
  -webkit-animation: divRotation 12.9s linear infinite, colorShift 51.6s linear infinite;
          animation: divRotation 12.9s linear infinite, colorShift 51.6s linear infinite;
}

.darken.d_50 {
  position: absolute;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  background-color: #ff0101;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(255, 255, 255, 0.7)));
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.7), rgba(255, 255, 255, 0.7));
  -webkit-animation: divRotation 13s linear infinite, colorShift 52s linear infinite;
          animation: divRotation 13s linear infinite, colorShift 52s linear infinite;
}