.darken.d_0 {
  position: absolute;
  border-radius: 50%;
  width: 1%;
  height: 1%;
  background-color: #fffdfd;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(255, 255, 255, 0.7)));
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.7), rgba(255, 255, 255, 0.7));
  -webkit-animation: rotation 0s linear infinite;
          animation: rotation 0s linear infinite;
}

.darken.d_0:hover {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.7)), to(rgba(255, 255, 255, 0.7)));
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(255, 255, 255, 0.7));
}

.darken.d_1 {
  position: absolute;
  border-radius: 50%;
  width: 2.98%;
  height: 2.98%;
  background-color: #fff9f8;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(255, 255, 255, 0.7)));
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.7), rgba(255, 255, 255, 0.7));
  -webkit-animation: rotation 0.1s linear infinite;
          animation: rotation 0.1s linear infinite;
}

.darken.d_1:hover {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.7)), to(rgba(255, 255, 255, 0.7)));
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(255, 255, 255, 0.7));
}

.darken.d_2 {
  position: absolute;
  border-radius: 50%;
  width: 4.96%;
  height: 4.96%;
  background-color: #fff6f3;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(255, 255, 255, 0.7)));
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.7), rgba(255, 255, 255, 0.7));
  -webkit-animation: rotation 0.2s linear infinite;
          animation: rotation 0.2s linear infinite;
}

.darken.d_2:hover {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.7)), to(rgba(255, 255, 255, 0.7)));
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(255, 255, 255, 0.7));
}

.darken.d_3 {
  position: absolute;
  border-radius: 50%;
  width: 6.94%;
  height: 6.94%;
  background-color: #fff4ee;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(255, 255, 255, 0.7)));
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.7), rgba(255, 255, 255, 0.7));
  -webkit-animation: rotation 0.3s linear infinite;
          animation: rotation 0.3s linear infinite;
}

.darken.d_3:hover {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.7)), to(rgba(255, 255, 255, 0.7)));
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(255, 255, 255, 0.7));
}

.darken.d_4 {
  position: absolute;
  border-radius: 50%;
  width: 8.92%;
  height: 8.92%;
  background-color: #fff3e9;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(255, 255, 255, 0.7)));
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.7), rgba(255, 255, 255, 0.7));
  -webkit-animation: rotation 0.4s linear infinite;
          animation: rotation 0.4s linear infinite;
}

.darken.d_4:hover {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.7)), to(rgba(255, 255, 255, 0.7)));
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(255, 255, 255, 0.7));
}

.darken.d_5 {
  position: absolute;
  border-radius: 50%;
  width: 10.9%;
  height: 10.9%;
  background-color: #fff4e4;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(255, 255, 255, 0.7)));
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.7), rgba(255, 255, 255, 0.7));
  -webkit-animation: rotation 0.5s linear infinite;
          animation: rotation 0.5s linear infinite;
}

.darken.d_5:hover {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.7)), to(rgba(255, 255, 255, 0.7)));
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(255, 255, 255, 0.7));
}

.darken.d_6 {
  position: absolute;
  border-radius: 50%;
  width: 12.88%;
  height: 12.88%;
  background-color: #fff6df;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(255, 255, 255, 0.7)));
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.7), rgba(255, 255, 255, 0.7));
  -webkit-animation: rotation 0.6s linear infinite;
          animation: rotation 0.6s linear infinite;
}

.darken.d_6:hover {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.7)), to(rgba(255, 255, 255, 0.7)));
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(255, 255, 255, 0.7));
}

.darken.d_7 {
  position: absolute;
  border-radius: 50%;
  width: 14.86%;
  height: 14.86%;
  background-color: #fff9da;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(255, 255, 255, 0.7)));
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.7), rgba(255, 255, 255, 0.7));
  -webkit-animation: rotation 0.7s linear infinite;
          animation: rotation 0.7s linear infinite;
}

.darken.d_7:hover {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.7)), to(rgba(255, 255, 255, 0.7)));
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(255, 255, 255, 0.7));
}

.darken.d_8 {
  position: absolute;
  border-radius: 50%;
  width: 16.84%;
  height: 16.84%;
  background-color: #fffdd5;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(255, 255, 255, 0.7)));
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.7), rgba(255, 255, 255, 0.7));
  -webkit-animation: rotation 0.8s linear infinite;
          animation: rotation 0.8s linear infinite;
}

.darken.d_8:hover {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.7)), to(rgba(255, 255, 255, 0.7)));
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(255, 255, 255, 0.7));
}

.darken.d_9 {
  position: absolute;
  border-radius: 50%;
  width: 18.82%;
  height: 18.82%;
  background-color: #fbffd0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(255, 255, 255, 0.7)));
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.7), rgba(255, 255, 255, 0.7));
  -webkit-animation: rotation 0.9s linear infinite;
          animation: rotation 0.9s linear infinite;
}

.darken.d_9:hover {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.7)), to(rgba(255, 255, 255, 0.7)));
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(255, 255, 255, 0.7));
}

.darken.d_10 {
  position: absolute;
  border-radius: 50%;
  width: 20.8%;
  height: 20.8%;
  background-color: #f5ffcb;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(255, 255, 255, 0.7)));
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.7), rgba(255, 255, 255, 0.7));
  -webkit-animation: rotation 1s linear infinite;
          animation: rotation 1s linear infinite;
}

.darken.d_10:hover {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.7)), to(rgba(255, 255, 255, 0.7)));
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(255, 255, 255, 0.7));
}

.darken.d_11 {
  position: absolute;
  border-radius: 50%;
  width: 22.78%;
  height: 22.78%;
  background-color: #edffc5;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(255, 255, 255, 0.7)));
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.7), rgba(255, 255, 255, 0.7));
  -webkit-animation: rotation 1.1s linear infinite;
          animation: rotation 1.1s linear infinite;
}

.darken.d_11:hover {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.7)), to(rgba(255, 255, 255, 0.7)));
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(255, 255, 255, 0.7));
}

.darken.d_12 {
  position: absolute;
  border-radius: 50%;
  width: 24.76%;
  height: 24.76%;
  background-color: #e3ffc0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(255, 255, 255, 0.7)));
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.7), rgba(255, 255, 255, 0.7));
  -webkit-animation: rotation 1.2s linear infinite;
          animation: rotation 1.2s linear infinite;
}

.darken.d_12:hover {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.7)), to(rgba(255, 255, 255, 0.7)));
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(255, 255, 255, 0.7));
}

.darken.d_13 {
  position: absolute;
  border-radius: 50%;
  width: 26.74%;
  height: 26.74%;
  background-color: #d9ffbb;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(255, 255, 255, 0.7)));
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.7), rgba(255, 255, 255, 0.7));
  -webkit-animation: rotation 1.3s linear infinite;
          animation: rotation 1.3s linear infinite;
}

.darken.d_13:hover {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.7)), to(rgba(255, 255, 255, 0.7)));
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(255, 255, 255, 0.7));
}

.darken.d_14 {
  position: absolute;
  border-radius: 50%;
  width: 28.72%;
  height: 28.72%;
  background-color: #ceffb6;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(255, 255, 255, 0.7)));
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.7), rgba(255, 255, 255, 0.7));
  -webkit-animation: rotation 1.4s linear infinite;
          animation: rotation 1.4s linear infinite;
}

.darken.d_14:hover {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.7)), to(rgba(255, 255, 255, 0.7)));
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(255, 255, 255, 0.7));
}

.darken.d_15 {
  position: absolute;
  border-radius: 50%;
  width: 30.7%;
  height: 30.7%;
  background-color: #c1ffb1;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(255, 255, 255, 0.7)));
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.7), rgba(255, 255, 255, 0.7));
  -webkit-animation: rotation 1.5s linear infinite;
          animation: rotation 1.5s linear infinite;
}

.darken.d_15:hover {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.7)), to(rgba(255, 255, 255, 0.7)));
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(255, 255, 255, 0.7));
}

.darken.d_16 {
  position: absolute;
  border-radius: 50%;
  width: 32.68%;
  height: 32.68%;
  background-color: #b3ffac;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(255, 255, 255, 0.7)));
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.7), rgba(255, 255, 255, 0.7));
  -webkit-animation: rotation 1.6s linear infinite;
          animation: rotation 1.6s linear infinite;
}

.darken.d_16:hover {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.7)), to(rgba(255, 255, 255, 0.7)));
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(255, 255, 255, 0.7));
}

.darken.d_17 {
  position: absolute;
  border-radius: 50%;
  width: 34.66%;
  height: 34.66%;
  background-color: #a7ffab;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(255, 255, 255, 0.7)));
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.7), rgba(255, 255, 255, 0.7));
  -webkit-animation: rotation 1.7s linear infinite;
          animation: rotation 1.7s linear infinite;
}

.darken.d_17:hover {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.7)), to(rgba(255, 255, 255, 0.7)));
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(255, 255, 255, 0.7));
}

.darken.d_18 {
  position: absolute;
  border-radius: 50%;
  width: 36.64%;
  height: 36.64%;
  background-color: #a2ffb1;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(255, 255, 255, 0.7)));
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.7), rgba(255, 255, 255, 0.7));
  -webkit-animation: rotation 1.8s linear infinite;
          animation: rotation 1.8s linear infinite;
}

.darken.d_18:hover {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.7)), to(rgba(255, 255, 255, 0.7)));
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(255, 255, 255, 0.7));
}

.darken.d_19 {
  position: absolute;
  border-radius: 50%;
  width: 38.62%;
  height: 38.62%;
  background-color: #9dffb8;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(255, 255, 255, 0.7)));
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.7), rgba(255, 255, 255, 0.7));
  -webkit-animation: rotation 1.9s linear infinite;
          animation: rotation 1.9s linear infinite;
}

.darken.d_19:hover {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.7)), to(rgba(255, 255, 255, 0.7)));
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(255, 255, 255, 0.7));
}

.darken.d_20 {
  position: absolute;
  border-radius: 50%;
  width: 40.6%;
  height: 40.6%;
  background-color: #98ffc1;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(255, 255, 255, 0.7)));
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.7), rgba(255, 255, 255, 0.7));
  -webkit-animation: rotation 2s linear infinite;
          animation: rotation 2s linear infinite;
}

.darken.d_20:hover {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.7)), to(rgba(255, 255, 255, 0.7)));
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(255, 255, 255, 0.7));
}

.darken.d_21 {
  position: absolute;
  border-radius: 50%;
  width: 42.58%;
  height: 42.58%;
  background-color: #93ffcb;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(255, 255, 255, 0.7)));
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.7), rgba(255, 255, 255, 0.7));
  -webkit-animation: rotation 2.1s linear infinite;
          animation: rotation 2.1s linear infinite;
}

.darken.d_21:hover {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.7)), to(rgba(255, 255, 255, 0.7)));
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(255, 255, 255, 0.7));
}

.darken.d_22 {
  position: absolute;
  border-radius: 50%;
  width: 44.56%;
  height: 44.56%;
  background-color: #8effd6;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(255, 255, 255, 0.7)));
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.7), rgba(255, 255, 255, 0.7));
  -webkit-animation: rotation 2.2s linear infinite;
          animation: rotation 2.2s linear infinite;
}

.darken.d_22:hover {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.7)), to(rgba(255, 255, 255, 0.7)));
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(255, 255, 255, 0.7));
}

.darken.d_23 {
  position: absolute;
  border-radius: 50%;
  width: 46.54%;
  height: 46.54%;
  background-color: #89ffe3;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(255, 255, 255, 0.7)));
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.7), rgba(255, 255, 255, 0.7));
  -webkit-animation: rotation 2.3s linear infinite;
          animation: rotation 2.3s linear infinite;
}

.darken.d_23:hover {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.7)), to(rgba(255, 255, 255, 0.7)));
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(255, 255, 255, 0.7));
}

.darken.d_24 {
  position: absolute;
  border-radius: 50%;
  width: 48.52%;
  height: 48.52%;
  background-color: #84fff0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(255, 255, 255, 0.7)));
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.7), rgba(255, 255, 255, 0.7));
  -webkit-animation: rotation 2.4s linear infinite;
          animation: rotation 2.4s linear infinite;
}

.darken.d_24:hover {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.7)), to(rgba(255, 255, 255, 0.7)));
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(255, 255, 255, 0.7));
}

.darken.d_25 {
  position: absolute;
  border-radius: 50%;
  width: 50.5%;
  height: 50.5%;
  background-color: #7fffff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(255, 255, 255, 0.7)));
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.7), rgba(255, 255, 255, 0.7));
  -webkit-animation: rotation 2.5s linear infinite;
          animation: rotation 2.5s linear infinite;
}

.darken.d_25:hover {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.7)), to(rgba(255, 255, 255, 0.7)));
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(255, 255, 255, 0.7));
}

.darken.d_26 {
  position: absolute;
  border-radius: 50%;
  width: 52.48%;
  height: 52.48%;
  background-color: #7aefff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(255, 255, 255, 0.7)));
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.7), rgba(255, 255, 255, 0.7));
  -webkit-animation: rotation 2.6s linear infinite;
          animation: rotation 2.6s linear infinite;
}

.darken.d_26:hover {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.7)), to(rgba(255, 255, 255, 0.7)));
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(255, 255, 255, 0.7));
}

.darken.d_27 {
  position: absolute;
  border-radius: 50%;
  width: 54.46%;
  height: 54.46%;
  background-color: #75deff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(255, 255, 255, 0.7)));
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.7), rgba(255, 255, 255, 0.7));
  -webkit-animation: rotation 2.7s linear infinite;
          animation: rotation 2.7s linear infinite;
}

.darken.d_27:hover {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.7)), to(rgba(255, 255, 255, 0.7)));
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(255, 255, 255, 0.7));
}

.darken.d_28 {
  position: absolute;
  border-radius: 50%;
  width: 56.44%;
  height: 56.44%;
  background-color: #70cbff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(255, 255, 255, 0.7)));
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.7), rgba(255, 255, 255, 0.7));
  -webkit-animation: rotation 2.8s linear infinite;
          animation: rotation 2.8s linear infinite;
}

.darken.d_28:hover {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.7)), to(rgba(255, 255, 255, 0.7)));
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(255, 255, 255, 0.7));
}

.darken.d_29 {
  position: absolute;
  border-radius: 50%;
  width: 58.42%;
  height: 58.42%;
  background-color: #6bb8ff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(255, 255, 255, 0.7)));
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.7), rgba(255, 255, 255, 0.7));
  -webkit-animation: rotation 2.9s linear infinite;
          animation: rotation 2.9s linear infinite;
}

.darken.d_29:hover {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.7)), to(rgba(255, 255, 255, 0.7)));
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(255, 255, 255, 0.7));
}

.darken.d_30 {
  position: absolute;
  border-radius: 50%;
  width: 60.4%;
  height: 60.4%;
  background-color: #66a3ff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(255, 255, 255, 0.7)));
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.7), rgba(255, 255, 255, 0.7));
  -webkit-animation: rotation 3s linear infinite;
          animation: rotation 3s linear infinite;
}

.darken.d_30:hover {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.7)), to(rgba(255, 255, 255, 0.7)));
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(255, 255, 255, 0.7));
}

.darken.d_31 {
  position: absolute;
  border-radius: 50%;
  width: 62.38%;
  height: 62.38%;
  background-color: #608dff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(255, 255, 255, 0.7)));
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.7), rgba(255, 255, 255, 0.7));
  -webkit-animation: rotation 3.1s linear infinite;
          animation: rotation 3.1s linear infinite;
}

.darken.d_31:hover {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.7)), to(rgba(255, 255, 255, 0.7)));
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(255, 255, 255, 0.7));
}

.darken.d_32 {
  position: absolute;
  border-radius: 50%;
  width: 64.36%;
  height: 64.36%;
  background-color: #5b76ff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(255, 255, 255, 0.7)));
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.7), rgba(255, 255, 255, 0.7));
  -webkit-animation: rotation 3.2s linear infinite;
          animation: rotation 3.2s linear infinite;
}

.darken.d_32:hover {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.7)), to(rgba(255, 255, 255, 0.7)));
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(255, 255, 255, 0.7));
}

.darken.d_33 {
  position: absolute;
  border-radius: 50%;
  width: 66.34%;
  height: 66.34%;
  background-color: #565dff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(255, 255, 255, 0.7)));
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.7), rgba(255, 255, 255, 0.7));
  -webkit-animation: rotation 3.3s linear infinite;
          animation: rotation 3.3s linear infinite;
}

.darken.d_33:hover {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.7)), to(rgba(255, 255, 255, 0.7)));
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(255, 255, 255, 0.7));
}

.darken.d_34 {
  position: absolute;
  border-radius: 50%;
  width: 68.32%;
  height: 68.32%;
  background-color: #5f51ff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(255, 255, 255, 0.7)));
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.7), rgba(255, 255, 255, 0.7));
  -webkit-animation: rotation 3.4s linear infinite;
          animation: rotation 3.4s linear infinite;
}

.darken.d_34:hover {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.7)), to(rgba(255, 255, 255, 0.7)));
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(255, 255, 255, 0.7));
}

.darken.d_35 {
  position: absolute;
  border-radius: 50%;
  width: 70.3%;
  height: 70.3%;
  background-color: #704cff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(255, 255, 255, 0.7)));
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.7), rgba(255, 255, 255, 0.7));
  -webkit-animation: rotation 3.5s linear infinite;
          animation: rotation 3.5s linear infinite;
}

.darken.d_35:hover {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.7)), to(rgba(255, 255, 255, 0.7)));
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(255, 255, 255, 0.7));
}

.darken.d_36 {
  position: absolute;
  border-radius: 50%;
  width: 72.28%;
  height: 72.28%;
  background-color: #8247ff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(255, 255, 255, 0.7)));
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.7), rgba(255, 255, 255, 0.7));
  -webkit-animation: rotation 3.6s linear infinite;
          animation: rotation 3.6s linear infinite;
}

.darken.d_36:hover {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.7)), to(rgba(255, 255, 255, 0.7)));
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(255, 255, 255, 0.7));
}

.darken.d_37 {
  position: absolute;
  border-radius: 50%;
  width: 74.26%;
  height: 74.26%;
  background-color: #9542ff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(255, 255, 255, 0.7)));
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.7), rgba(255, 255, 255, 0.7));
  -webkit-animation: rotation 3.7s linear infinite;
          animation: rotation 3.7s linear infinite;
}

.darken.d_37:hover {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.7)), to(rgba(255, 255, 255, 0.7)));
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(255, 255, 255, 0.7));
}

.darken.d_38 {
  position: absolute;
  border-radius: 50%;
  width: 76.24%;
  height: 76.24%;
  background-color: #aa3dff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(255, 255, 255, 0.7)));
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.7), rgba(255, 255, 255, 0.7));
  -webkit-animation: rotation 3.8s linear infinite;
          animation: rotation 3.8s linear infinite;
}

.darken.d_38:hover {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.7)), to(rgba(255, 255, 255, 0.7)));
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(255, 255, 255, 0.7));
}

.darken.d_39 {
  position: absolute;
  border-radius: 50%;
  width: 78.22%;
  height: 78.22%;
  background-color: #bf38ff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(255, 255, 255, 0.7)));
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.7), rgba(255, 255, 255, 0.7));
  -webkit-animation: rotation 3.9s linear infinite;
          animation: rotation 3.9s linear infinite;
}

.darken.d_39:hover {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.7)), to(rgba(255, 255, 255, 0.7)));
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(255, 255, 255, 0.7));
}

.darken.d_40 {
  position: absolute;
  border-radius: 50%;
  width: 80.2%;
  height: 80.2%;
  background-color: #d633ff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(255, 255, 255, 0.7)));
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.7), rgba(255, 255, 255, 0.7));
  -webkit-animation: rotation 4s linear infinite;
          animation: rotation 4s linear infinite;
}

.darken.d_40:hover {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.7)), to(rgba(255, 255, 255, 0.7)));
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(255, 255, 255, 0.7));
}

.darken.d_41 {
  position: absolute;
  border-radius: 50%;
  width: 82.18%;
  height: 82.18%;
  background-color: #ee2eff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(255, 255, 255, 0.7)));
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.7), rgba(255, 255, 255, 0.7));
  -webkit-animation: rotation 4.1s linear infinite;
          animation: rotation 4.1s linear infinite;
}

.darken.d_41:hover {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.7)), to(rgba(255, 255, 255, 0.7)));
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(255, 255, 255, 0.7));
}

.darken.d_42 {
  position: absolute;
  border-radius: 50%;
  width: 84.16%;
  height: 84.16%;
  background-color: #ff29f6;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(255, 255, 255, 0.7)));
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.7), rgba(255, 255, 255, 0.7));
  -webkit-animation: rotation 4.2s linear infinite;
          animation: rotation 4.2s linear infinite;
}

.darken.d_42:hover {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.7)), to(rgba(255, 255, 255, 0.7)));
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(255, 255, 255, 0.7));
}

.darken.d_43 {
  position: absolute;
  border-radius: 50%;
  width: 86.14%;
  height: 86.14%;
  background-color: #ff24dc;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(255, 255, 255, 0.7)));
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.7), rgba(255, 255, 255, 0.7));
  -webkit-animation: rotation 4.3s linear infinite;
          animation: rotation 4.3s linear infinite;
}

.darken.d_43:hover {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.7)), to(rgba(255, 255, 255, 0.7)));
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(255, 255, 255, 0.7));
}

.darken.d_44 {
  position: absolute;
  border-radius: 50%;
  width: 88.12%;
  height: 88.12%;
  background-color: #ff1fc0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(255, 255, 255, 0.7)));
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.7), rgba(255, 255, 255, 0.7));
  -webkit-animation: rotation 4.4s linear infinite;
          animation: rotation 4.4s linear infinite;
}

.darken.d_44:hover {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.7)), to(rgba(255, 255, 255, 0.7)));
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(255, 255, 255, 0.7));
}

.darken.d_45 {
  position: absolute;
  border-radius: 50%;
  width: 90.1%;
  height: 90.1%;
  background-color: #ff1aa3;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(255, 255, 255, 0.7)));
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.7), rgba(255, 255, 255, 0.7));
  -webkit-animation: rotation 4.5s linear infinite;
          animation: rotation 4.5s linear infinite;
}

.darken.d_45:hover {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.7)), to(rgba(255, 255, 255, 0.7)));
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(255, 255, 255, 0.7));
}

.darken.d_46 {
  position: absolute;
  border-radius: 50%;
  width: 92.08%;
  height: 92.08%;
  background-color: #ff1585;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(255, 255, 255, 0.7)));
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.7), rgba(255, 255, 255, 0.7));
  -webkit-animation: rotation 4.6s linear infinite;
          animation: rotation 4.6s linear infinite;
}

.darken.d_46:hover {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.7)), to(rgba(255, 255, 255, 0.7)));
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(255, 255, 255, 0.7));
}

.darken.d_47 {
  position: absolute;
  border-radius: 50%;
  width: 94.06%;
  height: 94.06%;
  background-color: #ff1066;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(255, 255, 255, 0.7)));
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.7), rgba(255, 255, 255, 0.7));
  -webkit-animation: rotation 4.7s linear infinite;
          animation: rotation 4.7s linear infinite;
}

.darken.d_47:hover {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.7)), to(rgba(255, 255, 255, 0.7)));
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(255, 255, 255, 0.7));
}

.darken.d_48 {
  position: absolute;
  border-radius: 50%;
  width: 96.04%;
  height: 96.04%;
  background-color: #ff0b45;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(255, 255, 255, 0.7)));
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.7), rgba(255, 255, 255, 0.7));
  -webkit-animation: rotation 4.8s linear infinite;
          animation: rotation 4.8s linear infinite;
}

.darken.d_48:hover {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.7)), to(rgba(255, 255, 255, 0.7)));
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(255, 255, 255, 0.7));
}

.darken.d_49 {
  position: absolute;
  border-radius: 50%;
  width: 98.02%;
  height: 98.02%;
  background-color: #ff0624;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(255, 255, 255, 0.7)));
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.7), rgba(255, 255, 255, 0.7));
  -webkit-animation: rotation 4.9s linear infinite;
          animation: rotation 4.9s linear infinite;
}

.darken.d_49:hover {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.7)), to(rgba(255, 255, 255, 0.7)));
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(255, 255, 255, 0.7));
}

.darken.d_50 {
  position: absolute;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  background-color: #ff0101;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(255, 255, 255, 0.7)));
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.7), rgba(255, 255, 255, 0.7));
  -webkit-animation: rotation 5s linear infinite;
          animation: rotation 5s linear infinite;
}

.darken.d_50:hover {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.7)), to(rgba(255, 255, 255, 0.7)));
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(255, 255, 255, 0.7));
}
/*# sourceMappingURL=main.css.map */